<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Hospital</title>
</head>
<body>
<div style="display: flex; margin: 50px; width: 300px">
    <div style="display:block; padding: 50px; width: 200px;">
        <label>Nazwa Szpitala:</label>
        <label for="name-input"></label><input id="name-input" type="text">
        <label>Adres:</label>
        <label for="address-input"></label><input id="address-input" type="text">
        <label>Miasto</label>
        <label for="city-input"></label><input id="city-input" type="text">
    </div>
    <div style="display: block; padding: 50px; width: 200px;">
        <label>Oddział dyrektora szpitala</label>
        <label>Nazwa oddziału</label>
        <label for="section-name-input"></label><input id="section-name-input" type="text">
    </div>
    <div style="display: block; padding: 50px; width: 200px;">
        <label>Dane Dyrektora Szpitala</label>
        <label>Imię:</label>
        <label for="first-name-input"></label><input id="first-name-input" type="text">
        <label>Nazwisko:</label>
        <label for="last-name-input"></label><input id="last-name-input" type="text">
        <label>Płaca:</label>
        <label for="salary-input"></label><input id="salary-input" type="number">
        <label>Hasło</label>
        <label for="password-input"></label><input id="password-input" type="password">
        <input onclick="addHospital()" type="submit" value="Dodaj">
    </div>
</div>
<script src="/js/admin/addHospital.js"></script>
</body>
</html>