<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>NFZ</title>
    <link href="css/all/home.css" rel="stylesheet" type="text/css">
    <link href="css/all/login.css" rel="stylesheet" type="text/css">


</head>
<body onload="getHospitals()">

    <div id="logo">

        <a href="/home">
            <img src="/img/hos_logo.png"/>
        </a>

        <div id="pasek">
            <a href="" >
                <div class="linkref">
                    Szpitale
                </div>
            </a>
            <a href="">
                <div class="linkref">
                    Choroby
                </div>
            </a>
        </div>
        <div style="clear: both"></div>

    </div>

    <div id="mainArea">
        <a href="/login" th:if="!${isAuthenticated}">
            <div id="log">
                Zaloguj się
            </div>
        </a>

        <input id="logout" onclick="logout()" th:if="${isAuthenticated}" type="submit" value="logout">
        <h1 th:if="${isAuthenticated}">Rola <h1 th:text="${role}"></h1></h1>
        <a th:href="@{|/${userId}/doctorProfile|}" th:if="${isDoctor}">Mój Profil</a>
        <a th:href="@{|/patient/${userId}/patientProfile|}" th:if="${isPatient}">Mój Profil</a>
        <a href="/illnesses">Choroby</a>

        <ul id="hospitals-ul"></ul>
    </div>


    <script src="js/all/home.js"></script>

</div>
</body>
</html>
