<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>NFZ</title>
    <link href="css/all/home.css" rel="stylesheet" type="text/css">
    <!--<link href="css/all/login.css" rel="stylesheet" type="text/css">-->

</head>
<body>

<div id="logo">

    <a href="/home">
        <img src="/img/hos_logo.png"/>
    </a>

    <div id="pasek">
        <a href="/hospitals">
            <div class="linkref">
                Szpitale
            </div>
        </a>
        <a href="/illnesses">
            <div class="linkref">
                Choroby
            </div>
        </a>
        <a th:href="@{|/${userId}/doctorProfile|}" th:if="${isDoctor}">
            <div class="linkref">
                Mój Profil
            </div>
        </a>
        <a href="/adminPanel" th:if="${isAdmin}">
            <div class="linkref">
                Admin Panel
            </div>
        </a>
        <a th:href="@{|/patient/${userId}/patientProfile|}" th:if="${isPatient}">
            <div class="linkref">Mój Profil</div>
        </a>
        <div class="linkref" onclick="logout()" th:if="${isAuthenticated}">
            Wyloguj
        </div>
    </div>
    <div style="clear: both"></div>

</div>

<div id="mainArea">
    <a href="/login" th:if="!${isAuthenticated}">
        <div id="log">
            Zaloguj się
        </div>
    </a>
</div>


<script src="js/all/home.js"></script>

</div>
</body>
</html>
