<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Zarządzaj pobytami</title>
    <link href="/css/doctor/ManageStays.css" rel="stylesheet">
</head>
<body onload="addPesel()">
<h1>Add stay</h1>
<label>Pesel:</label>
<form>
    <input id="pesel-input" list="pesel-datalist" type="text">
    <datalist id="pesel-datalist"></datalist>
</form>
<label>Termin przyjęcia</label>
<input id="date-input" type="date">
<label>Numer pokoju</label>
<select id="rooms-id-select"></select>

<input onclick="addStay()" type="submit" value="Dodaj Pobyt">

<ul id="stays-ul"></ul>

<!--//TODO dodać ładne wybieranie pokoju-->
<span id="id-span" th:text="${id}"></span>
<span id="hospital-section-id-span" th:text="${hospitalSectionId}"></span>
<span id="pesel-span" th:text="${pesel}"></span>
<script src="/js/doctor/ManageStays.js"></script>
</body>
</html>