<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Dodaj Pacjenta</title>
    <link href="/css/doctor/ManagePatients.css" rel="stylesheet">
</head>
<body onload="searchPatients()">
<label>Pesel:</label>
<input id="pesel-input" type="text">
<label>Imię:</label>
<input id="first-name-input" type="text">
<label>Nazwisko:</label>
<input id="last-name-input" type="text">
<label>Hasło</label>
<input id="password-input" type="password">
<input onclick="addPatient()" type="submit" value="Dodaj">
<br>
<input id="search-input" oninput="searchPatients()" type="text">
<ul id="patients-ul"></ul>

<input onclick="addStay()" type="submit" value="Dodaj Pobyt">
<span id="id-span" th:text="${id}"></span>
<script src="/js/doctor/ManagePatients.js"></script>
</body>
</html>