<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Mój Profil</title>
    <link href="/css/patient/PatientProfile.css" rel="stylesheet" type="text/css">
</head>
<body onload="getPatientData()">
<div>
    <label>Pesel:</label>
    <label id="pesel-label" th:text="${id}"></label>
    <label>Imię</label>
    <label id="first-name-label"></label>
    <label>Nazwisko:</label>
    <label id="last-name-label"></label>

    <a href="/myStays">Moje pobyty</a>
    <a href="/myPrescriptions">Moje Recepty</a>
</div>
<script src="/js/patient/PatientProfile.js"></script>
</body>
</html>